$bgBodyColor:#eee;


$bgBoxColor:#fff;
$bgBoxColor_hover:aqua;

$fontBigColor:lightblue;
$fontBigColor_hover: #fff;

$fontMidColor:#aaa;
$fontMidColor_hover:#eee;

$fontSmallColor:#bbb;
$fontSmalColor_hover:#aaa;

$fontLinkColor:#fff;
$fontLinkColor_hover:yellow;


