#visual {
    width:100%; height:500px; background:lightcyan; position:relative; transition:all 0.5s;
}

/*tablet*/
@include rwd(960px){
   
    #visual {
        height:350px; background:orange; 
    }
    
}

/*mobile*/
@include rwd(540px){  
    #visual {
        height:280px; background:lightgreen; 
    }
    
}